@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Belanosima&display=swap');

.about-title {
    font-family: 'Abhaya Libre', serif;
    font-size: 8em;
    
}

@mixin title-name {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #000;
    text-align: center;
    letter-spacing: 0.2rem;
    font-family: 'Belanosima', sans-serif;
}
.about-name{
    @include title-name;
}

.general-text {
    font-family: 'Belanosima', sans-serif;
    font-size: 2em;

}
